html {
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden; 
}
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow-x: hidden; 
    background: url('bright.jpg') no-repeat center center / cover;
  }
.topnav {
  background-color: black;
  padding: 20px;
  font-size: 20px;
  height: 30px;
  }

.topnav a {
  text-decoration: none;
  color: #b1b3be;
  padding: 10px;
  
}

#logo {
  background-color: #de4f4f;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  }
  
#logo:hover {
	color: white;
	opacity: 0.9;
}

/* Styling for landing page */
.wrapper {
	display: flex;
	flex-direction: column;
}
.intro {
	color: black;
    top: 0;
    display: flex;
	align-items: center;
    width: 100%;
    min-height: 100vh;
	flex-direction: column;
}

footer {
	color: white;
	background-color: black;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
}
/* div inside footer 
.footer {
	display: flex;
	flex-direction: row;
} */
#sign-up {
	color: white;
	background-color: #de4f4f;
	font-size: 40px;
	width: 200px;
	height: 50px;
	border: solid 1px #de4f4f;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}
#sign-in {
	color: #de4f4f;
	font-size: 40px;
	width: 200px;
	height: 50px;
	border: solid 1px #de4f4f;
	text-decoration: none;
	text-align: center;
	background-color: black;
	border-radius: 5px;
}	
#new-bank {
	color: white;
	font-size: 40px;
	background-color: #de4f4f;
	width: 300px;
	height: 50px;
	border: solid 1px #de4f4f;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .intro {
    color: black;
    top: 0;
    display: flex;
	align-items: center;
    width: 100%;
    min-height: 100vh;
	flex-direction: column;
	/* background-image: url('bright-mobile.jpg'); */
	font-size: 15px;
	text-align: center;
    
    }
     .started {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
    } 
  
      .wrapper, footer { 
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      #sign-up {
	color: white;
	background-color: #de4f4f;
	font-size: 20px;
	width: 100px;
	height: 25px;
	border: solid 1px #de4f4f;
	text-decoration: none;
	text-align: center;
}
#sign-in {
	color: #de4f4f;
	font-size: 20px;
	width: 100px;
	height: 25px;
	border: solid 1px #de4f4f;
	text-decoration: none;
	text-align: center;
}	
#new-bank {
	color: white;
	font-size: 20px;
	background-color: #de4f4f;
	width: 150px;
	height: 25px;
	border: solid 1px #de4f4f;
	text-decoration: none;
	text-align: center;
}

  }

#sign-up:hover, #sign-in:hover, #new-bank:hover {
	opacity: 0.7;
}
